/* Variáveis Globais */
.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --cor-primaria: #13131F;
  --cor-secundaria: #8257E6;
  --cor-texto: #F9F9F9;
  --cor-fundo: #13131F;
  --cor-borda: #3f3f88;
  --fonte-padrao: montserrat;
}



/* Reset CSS */
* {
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--fonte-padrao);
  background-color: var(--cor-fundo);
  color: var(--cor-secundaria);
  line-height: 1.6;
  text-align: center;
  background-color: #8f8989;
}

/* Cabeçalho */
header {
  width: 100%;
  top: 0;
  position: relative;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameContainer {
  flex-grow: 1;
  text-align: center;
}

.nameContainer h1 a {
  text-decoration: none;
  color: inherit;
}

.nameContainer h1 a:hover {
  text-decoration: none;
  text-shadow: 1px 1px 3px #8257E6;
}

.listContainer {
  flex-grow: 2;
}

.listContainer ul {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.listContainer a {
  text-decoration: none;
  color: inherit;
}

.listContainer a:hover {
  text-decoration: none;
  text-shadow: 1px 1px 3px #8257E6;
}











/* Main */



/* Hero Section */




/* Sobre */



/* Projetos Grid */



/* Rodapé */